<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 连接池配置 -->
    <bean name="genericObjectPoolConfig" class="org.apache.commons.pool2.impl.GenericObjectPoolConfig" >
        <property name="maxWaitMillis" value="30000" />
        <property name="maxTotal" value="10" />
        <property name="minIdle" value="8" />
        <property name="maxIdle" value="10" />
    </bean>

    <!-- redis集群配置 -->
    <bean id="redisDao" class="org.journey.dao.redis.achieve.RedisDao">
        <constructor-arg>
            <set>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg>
                        <value>127.0.0.1</value>
                    </constructor-arg>
                    <constructor-arg>
                        <value>7001</value>
                    </constructor-arg>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg>
                        <value>127.0.0.1</value>
                    </constructor-arg>
                    <constructor-arg>
                        <value>7002</value>
                    </constructor-arg>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg>
                        <value>127.0.0.1</value>
                    </constructor-arg>
                    <constructor-arg>
                        <value>7003</value>
                    </constructor-arg>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg>
                        <value>127.0.0.1</value>
                    </constructor-arg>
                    <constructor-arg>
                        <value>7004</value>
                    </constructor-arg>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg>
                        <value>127.0.0.1</value>
                    </constructor-arg>
                    <constructor-arg>
                        <value>7005</value>
                    </constructor-arg>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg>
                        <value>127.0.0.1</value>
                    </constructor-arg>
                    <constructor-arg>
                        <value>7006</value>
                    </constructor-arg>
                </bean>
            </set>
        </constructor-arg>
        <!--超时时间-->
        <constructor-arg>
            <value>5000</value>
        </constructor-arg>
        <!-- 连接池 -->
        <constructor-arg ref="genericObjectPoolConfig"/>
    </bean>
</beans>